$prefix: 'atplayer';

@import './layout.scss';
@import './controls.scss';
@import './balloon.scss';
@import './bezel.scss';
@import './danmaku.scss';
@import './infopanel.scss';
@import './chat.scss';
@import './loading.scss';


button {
  outline: none;
  border: none;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
